
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-dark text-white py-4">
          <h2 class="mb-0">Nouveau Fonction</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div hidden class="col-sm-6 col-md-4 mb-3">
                <label class="form-label">Id</label>
                <input type="text" [(ngModel)]="newFon.id" name="clientId" class="form-control"  />
              </div>
              <div class="col-sm-6 col-md-4 mb-3">
                <label class="form-label">Nom</label>
                <input type="text" [(ngModel)]="newFon.name" name="nomClient" class="form-control"  />
              </div>


            </div>
            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="submit"  (click)="add()" class="btn btn-success">AJOUTER</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
