
<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header bg-dark text-white py-4">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Civilites</h3>
        <button [routerLink]="['/admin/ajouter-civilite']"  class="btn btn-success">Ajouter Civilite</button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead-light">
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Pays</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody >
          <tr  *ngFor="let civilite of civilites">
            <td class="text-center" >{{ civilite.id }}</td>
            <td class="text-center">{{ civilite.civilite }}</td>
            <td class="text-center" style="font-weight: bold;">
              <a class="btn btn-success btn-sm">MODIFIER</a>
              <div class="d-inline-block mx-2"></div>
              <button (click)="DelteCivilite(civilite)" class="btn btn-danger btn-sm">SUPPRIMER</button>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              total:{{civilites.length}} Lettres :
            </td>
          </tr>
          </tbody>


        </table>



      </div>
    </div>
  </div>
</div>
